tools/ffmpeg/*.exe filter=lfs diff=lfs merge=lfs -text
tools/ffmpeg/*.dll filter=lfs diff=lfs merge=lfs -text
renderer/build/Release/*.dll filter=lfs diff=lfs merge=lfs -text
renderer/build/Release/*.node filter=lfs diff=lfs merge=lfs -text
